/*extra small===========================================================================================================*/

@media only screen and (max-width: 600px) {
    body{
        margin: 0;
        padding: 0;
        background-color: rgb(49, 49, 49);
    }
    .navbar{
        width: 100%;
        background-color: black;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 10px;
        box-sizing: border-box;
        position:fixed;
        top:0;
        left:0;
        box-sizing: border-box;
        z-index:10;
    }
    .navbar_logo{
        height: 40px;
    }
    .logo_container{
        height: 40px;
    }
    .home_page,.contact_page,.log_out,.search_container,.display_block{
        display: none;
    }
    .live_and_premium{
        width: 100%;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 40px;
        position: fixed;
        background: rgb(8, 8, 8);
        color: rgb(199, 199, 199);
        font-size: 12px;
        font-family: Calibri;
        z-index:10;
    }
    .l_p{
        width: 60px;
        height: 25px;
        margin: 0 5px;
        border-radius: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        background:rgb(49, 49, 49) ;
    }
    .l_p:active{
        font-size: 13px;
        color:rgb(212, 209, 209) ;
        background:rgb(41, 41, 41) ;
    }
    .menu_links a{
        text-decoration: none;
    }
    .menu_icon{
        width:40px;
        height:40px;
        color:#fff;
        line-height:40px;
        font-size:25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;
        margin-right:10px;
    }
    .menu_icon:active{
        width: 40px;
        height: 40px;
        color: rgb(214, 214, 214);
        text-align: center;
        line-height: 40px;
        font-size: 26px;
    }
    .menu_links{
        display:none;
    }
    .drop_down{
        width: 250px;
        max-height:540px;
        background-color: black;
        position: fixed;
        top: 0;
        right: 0;
        margin-top: 75px;
        overflow:scroll;
        display: none;
        z-index:10;
    }
    .search_container_drop_down{
        display: flex;
        justify-content: space-between;
        height: 30px;
    }
    .search_box_drop_down{
        width: 210px;
        font-size: 12px;
    }
    .search_button_drop_down:active{
        cursor: pointer;
        background-color: rgb(133, 133, 133);
    }
    .sign{
        width: 250px;
        height: 50px;
        background-color: rgb(49, 49, 49);
        margin-top: 10px;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        color: #fff;
    }
    .sign_icon_container{
        width: 50px;
        height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: black;
    }
    .sign_icon_container span{
        font-size: 11px;
        margin-top: 5px;
        font-family: Calibri;
        color:rgb(230, 135, 10);
        font-weight: bold;
    }
    .sign_icon_container:active{
        font-size: 22px;
    }
    .sign_icon_container span:active{
        font-size: 13px;
    }
    /* main header=========================================== */
    .customer_contact{
        width: 250px;
        height: 300px;
        overflow:scroll;
        background-color: black;
    }
    .main_header{
        width: 250px;
        font-size: 14px;
        line-height: 30px;
        font-family: calibri;
        color: rgb(230, 135, 10);
        padding-left: 10px;
    }
    .get_premium{
        width: 250px;
        height: 30px;
        background-color: rgb(247, 142, 6);
        display: flex;
        flex-direction: row;
        color: black;
        align-items: center;
        font-family: calibri;
        font-size: 12px;
        font-weight: bold;
    }
    .premium_icon{
        width: 50px;
        display: flex;
        justify-content: center;
        background-color: rgb(247, 142, 6);
    }
    .get_premium:active{
        font-size: 13px;
    }
    .porn_videos{
        width: 250px;
        height: 30px;
        background-color: black;
        display: flex;
        flex-direction: row;
        color: rgb(230, 135, 10);
        font-family: Calibri;
        align-items: center;
        font-size: 12px;
    }
    .porn_videos_icon{
        width: 50px;
        display: flex;
        justify-content: center;
        background-color: black;
    }
    .down_arrow{
        width: 50px;
        display: flex;
        flex-grow: 1;
        justify-content: flex-end;
        background-color: black;
        padding-right: 10px;
    }
    .porn_videos:active{
        font-size: 13px;
    }
    #mini_dropdown{
        width: 250px;
        height: 60px;
        display: none;
    }
    #mini_dropdown2{
        width: 250px;
        height: 60px;
        display: none;
    }
    #mini_dropdown3{
        width: 250px;
        height: 60px;
        display: none;
    }
    .mini_down{
        width: 200px;
        height: 20px;
        background:rgb(27, 27, 27) ;
        color: rgb(161, 161, 161);
        font-size: 12px;
        font-family: Calibri;
        padding-left: 50px;
        display: flex;
        align-items: center;    
    }
    .mini_down:active{
        font-size: 13px;
        color: rgb(199, 191, 191);
    }
    .save_list{
        width: 250px;
        height: 30px;
        background-color: black;
        display: flex;
        flex-direction: row;
        color: rgb(230, 135, 10);
        font-family: Calibri;
        align-items: center;
        font-size: 12px;
    }
    .save_icon{
        width: 50px;
        display: flex;
        justify-content: center;
        background-color: black;
    }
    .save_list:active{
        font-size: 13px;
    }
    .categories{
        width: 250px;
        height: 30px;
        background-color: black;
        display: flex;
        flex-direction: row;
        color: rgb(230, 135, 10);
        font-family: Calibri;
        align-items: center;
        font-size: 12px;
    }
    .categories_icon{
        width: 50px;
        display: flex;
        justify-content: center;
        background-color: black;
    }
    .categories:active{
        font-size: 13px;
    }
    .channels{
        width: 250px;
        height: 30px;
        background-color: black;
        display: flex;
        flex-direction: row;
        color: rgb(230, 135, 10);
        font-family: Calibri;
        align-items: center;
        font-size: 12px;
    }
    .channels_icon{
        width: 50px;
        display: flex;
        justify-content: center;
        background-color: black;
    }
    .channels:active{
        font-size: 13px;
    }
    .photos{
        width: 250px;
        height: 30px;
        background-color: black;
        display: flex;
        flex-direction: row;
        color: rgb(230, 135, 10);
        font-family: Calibri;
        align-items: center;
        font-size: 12px;
    }
    .photos_icon{
        width: 50px;
        display: flex;
        justify-content: center;
        background-color: black;
    }
    .photos:active{
        font-size: 13px;
    }
    .porn_gifs{
        width: 250px;
        height: 30px;
        background-color: black;
        display: flex;
        flex-direction: row;
        color: rgb(230, 135, 10);
        font-family: Calibri;
        align-items: center;
        font-size: 12px;
    }
    .porn_gifs_icon{
        width: 50px;
        display: flex;
        justify-content: center;
        background-color: black;
    }
    .porn_gifs:active{
        font-size: 13px;
    }
    .porn_stars{
        width: 250px;
        height: 30px;
        background-color: black;
        display: flex;
        flex-direction: row;
        color: rgb(230, 135, 10);
        font-family: Calibri;
        align-items: center;
        font-size: 12px;
    }
    .porn_stars_icon{
        width: 50px;
        display: flex;
        justify-content: center;
        background-color: black;
    }
    .porn_stars:active{
        font-size: 13px;
    }
    .contact{
        width: 250px;
        height: 30px;
        background-color: black;
        display: flex;
        flex-direction: row;
        color: rgb(230, 135, 10);
        font-family: Calibri;
        align-items: center;
        font-size: 12px;
    }
    .contact_icon{
        width: 50px;
        display: flex;
        justify-content: center;
        background-color: black;
    }
    .contact:active{
        font-size: 13px;
    }
    /* community header====================================================== */
    .community_header{
        width: 250px;
        font-size: 14px;
        line-height: 30px;
        font-family: calibri;
        color: rgb(143, 143, 143);
        padding-left: 10px;
        background-color: black;
    }
    .community{
        width: 250px;
        height: 300px;
        background-color: black;
    }
    .upload,.community_feed,.community_videos,.member_search,.top_members{
        width: 250px;
        height: 30px;
        background-color: black;
        display: flex;
        flex-direction: row;
        color: rgb(155, 153, 150);
        font-family: Calibri;
        align-items: center;
        font-size: 12px;
    }
    .upload_icon,.community_feed_icon,.community_videos_icon,.member_search_icon,.top_members_icon{
        width: 50px;
        display: flex;
        justify-content: center;
        background-color: black;
    }
    .upload:active{
        font-size: 13px;
    }
    .community_feed:active{
        font-size: 13px;
    }
    .community_videos:active{
        font-size: 13px;
    }
    .member_search:active{
        font-size: 13px;
    }
    .top_members:active{
        font-size: 13px;
    }
    .all_video_container{
        width: 100%;
        padding-top: 10px;
        background: rgb(49, 49, 49);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .sec_video_container{
        display: none;
    }
    .hd_video{
        width: 100%;
        border: none;
        outline: none;
        height: auto;
        margin-top: 10px;
    }
    .hd_container{
        margin: 5px 0;
        border-radius: 5px;
        background: black;
    }
    .video_name{
        text-align: center;
        font-family: Calibri;
        font-weight: bolder;
        background: black;
        color: #fff;
    }
    .vd_navbar{
        width: 100%;
        display: flex;
        margin-top: 5px;
        align-items: center;
        justify-content: space-around;
        background: rgb(255, 138, 4);
    }
    .vd_nav_icon{
        display: flex;
        width: 30px;
        height: 30px;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        font-size: 14px;
        font-family: Calibri;
        font-weight: bold;
        line-height: 10px;
    }
    .footer{
        display: none;
    }

}


/*small================================================================================================================*/

@media only screen and (min-width: 600px) and (max-width:767px) {}


/*medium==============================================================================================================*/

@media only screen and (min-width: 768px) and (max-width:991px) {}


/*large=============================================================================================================*/

@media only screen and (min-width: 992px) and (max-width:1199px) {}


/*extra large======================================================================================================*/

@media only screen and (min-width: 1200px) {
    body{
        margin:0;
        padding:0;
        background-color:#fff;
    }
    .navbar{
        width: 100%;
        background-color: black;
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        z-index:10;
    }
    .logo_container{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left:20px;
    }
    .navbar_logo{
        height: 60px;
    }
    .navbar_block{
        width: 400px;
    }
    .live_and_premium{
        display: none;
    }
    .menu_links{
        display:flex;
        flex-direction:row;
        flex-grow:1;
        justify-content: flex-end;
        margin-right: 20px;
    }
    .home_page,.contact_page,.log_out{
        width: 100px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        box-sizing: border-box;
    }
    .menu_links a{
        text-decoration: none;
    }
    .display_block{
        width: 200px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .menu_icon{
        display: none;
    }
    .search_container{
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 10px;
        margin-left:30px;
    }
    .search_box{
        width: 500px;
        height: 30px;
        border-radius: 5px;
        border:none;
        outline:none;
        padding:0 15px;
        box-sizing: border-box;
        background:#444;
        color: #fff;
    }
    .search_button{
        background:rgb(230, 135, 10);
        font-size: 21px;
        margin-left: 10px;
        color: black;
        border-radius: 5px;
        border: none;
        height:30px;
    }
    .search_button:hover{
        background:rgba(231, 137, 15, 0.726);
        outline: none;
        cursor:pointer;
    }
    .home_page:hover{
        background-color: rgb(214, 214, 214);
        font-size: 20px;
        color: black;
        cursor: pointer;
    }
    .contact_page:hover{
        background-color:rgb(214, 214, 214) ;
        font-size: 20px;
        color: black;
        cursor: pointer;
    }
    .log_out:hover{
        background-color:rgb(214, 214, 214) ;
        font-size: 20px;
        color: black;
        cursor: pointer;
    }
    .drop_down{
        display: none;
    }
    /* video================== */
    .all_video_container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .sec_video_container{
        width: 500px;
        margin-top: 60px;
        background: green;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .hd_video{
        width: 480px;
        height: auto;
        margin-top: 10px;
    }
    .hd_container{
        margin: 5px 0;
        background: black;
    }
    .video_name{
        text-align: center;
        font-family: Calibri;
        font-weight: bolder;
        background: black;
        color: #fff;
    }
    .vd_navbar{
        width: 100%;
        display: flex;
        margin-top: 5px;
        align-items: center;
        justify-content: space-around;
        background: rgb(255, 138, 4);
    }
    .vd_nav_icon{
        display: flex;
        width: 30px;
        height: 30px;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        font-size: 14px;
        font-family: Calibri;
        font-weight: bold;
        line-height: 10px;
    }
    /* footer==================================================================================== */
    .footer{
        width: 100%;
        background-color: black;
        display: flex;
    }
    .footer_container{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
    /* column_1 */
    .container_column_1{
        background-color: black;
        display: flex;
        flex-direction: column;
        width: 300px;
        height: 120px;
        justify-content: center;
        align-items: center;
    }
    .porn_videos,.photos,.porn_gifs,.porn_stars{
        width: 200px;
        height: 30px;
        background-color: black;
        display: flex;
        flex-direction: row;
        color: rgb(155, 153, 150);
        font-family: Calibri;
        align-items: center;
        font-size: 12px;
    }
    .porn_videos_icon,.photos_icon,.porn_gifs_icon,.porn_stars_icon{
        width: 50px;
        display: flex;
        justify-content: center;
        background-color: black;
    }
    .porn_videos:hover{
        cursor: pointer;
        font-size: 13px;
        color: #fff;
    }
    .photos:hover{
        cursor: pointer;
        font-size: 13px;
        color: #fff;
    }
    .porn_gifs:hover{
        cursor: pointer;
        font-size: 13px;
        color: #fff;
    }
    .porn_stars:hover{
        cursor: pointer;
        font-size: 13px;
        color: #fff;
    }
    /* column_2 */
    .container_column_2{
        background-color: black;
        display: flex;
        flex-direction: column;
        width: 300px;
        height: 120px;
        justify-content: center;
        align-items: center;
    }
    .channels,.categories,.save_list,.contact{
        width: 200px;
        height: 30px;
        background-color: black;
        display: flex;
        flex-direction: row;
        color: rgb(155, 153, 150);
        font-family: Calibri;
        align-items: center;
        font-size: 12px;
    }
    .channels_icon,.categories_icon,.save_icon,.contact_icon{
        width: 50px;
        display: flex;
        justify-content: center;
        background-color: black;
    }
    .channels:hover{
        cursor: pointer;
        font-size: 13px;
        color: #fff;
    }
    .categories:hover{
        cursor: pointer;
        font-size: 13px;
        color: #fff;
    }
    .save_list:hover{
        cursor: pointer;
        font-size: 13px;
        color: #fff;
    }
    .contact:hover{
        cursor: pointer;
        font-size: 13px;
        color: #fff;
    }
    /* column_3 */
    .container_column_3{
        background-color: black;
        display: flex;
        flex-direction: column;
        width: 300px;
        height: 120px;
        justify-content: center;
        align-items: center;
    }
    .upload,.community_feed,.community_videos,.member_search{
        width: 200px;
        height: 30px;
        background-color: black;
        display: flex;
        flex-direction: row;
        color: rgb(155, 153, 150);
        font-family: Calibri;
        align-items: center;
        font-size: 12px;
    }
    .upload_icon,.community_feed_icon,.community_videos_icon,.member_search_icon{
        width: 50px;
        display: flex;
        justify-content: center;
        background-color: black;
    }
    .upload:hover{
        cursor: pointer;
        font-size: 13px;
        color: #fff;
    }
    .community_feed:hover{
        cursor: pointer;
        font-size: 13px;
        color: #fff;
    }
    .community_videos:hover{
        cursor: pointer;
        font-size: 13px;
        color: #fff;
    }
    .member_search:hover{
        cursor: pointer;
        font-size: 13px;
        color: #fff;
    }
    /* column_4 */
    .container_column_4{
        background-color: black;
        display: flex;
        flex-direction: column;
        width: 300px;
        height: 120px;
        justify-content: center;
        align-items: center;
    }
    .get_premium,.download,.sign_in,.sign_out{
        width: 200px;
        height: 30px;
        background-color: black;
        display: flex;
        flex-direction: row;
        color: rgb(155, 153, 150);
        font-family: Calibri;
        align-items: center;
        font-size: 12px;
    }
    .premium_icon,.download_icon_,.sign_in_icon_,.sign_out_icon_{
        width: 50px;
        display: flex;
        justify-content: center;
        background-color: black;
    }
    .get_premium:hover{
        cursor: pointer;
        font-size: 13px;
        color: #fff;
    }
    .download:hover{
        cursor: pointer;
        font-size: 13px;
        color: #fff;
    }
    .sign_in:hover{
        cursor: pointer;
        font-size: 13px;
        color: #fff;
    }
    .sign_out:hover{
        cursor: pointer;
        font-size: 13px;
        color: #fff;
    }
}



